name: Python CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  release:
    types: [created]    
  workflow_dispatch:

jobs:
  validation:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tools: ['black', 'bandit', 'pylint', 'pyright', 'flake8', 'pytest']
    steps:
      - uses: actions/checkout@v2
      - name: ${{ matrix.tools }}
        uses: dciborow/pyaction@0.0.30
        with:
          ${{ matrix.tools }}: true
          args: ${{ matrix.args }}

  publish:
    uses: microsoft/action-python/.github/workflows/publish.yml@0.2.0
    secrets:
      PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      TEST_PYPI_PASSWORD: ${{ secrets.TEST_PYPI_PASSWORD  }}
